.header__contacts {
    color: #F4C534;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 970px) {
    .header__contacts {
        display: flex;
        flex-direction: column;
        width: max-content;
        justify-self: flex-start;
    }
}

@media screen and (max-width: 730px) {
    .header__contacts {
        padding-top: 80px;
        color: #FFF;
    }
}