.services__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 67px;
    color: #fff;
    border-bottom: 9px solid #F4C534;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    text-transform: uppercase;
    height: 80px;
    width: max-content;
    align-self: center;
}