.social__subscribe {
        width: 320px;
        height: 60px;
        padding: 0;
        border: 1px solid #F4C534;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        line-height: 13px;
        font-weight: 300;
        justify-content: space-around;
        align-items: center;
}

.social__subscribe:hover {
        transition: .7s;
        font-weight: 500;
        background-color: #F4C534;
        color: #000;
        border: 2px solid #000;
}