.social__subscribe {
        width: 320px;
        height: 60px;
        padding: 0;
        border: 1px solid #F4C534;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        line-height: 13px;
        font-weight: 300;
        justify-content: space-around;
        align-items: center;
        display: flex;
}