.services {
    background-image: url('../../images/services_background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: grid;
}

@media screen and (max-width: 425px) {
    .services {
        height: 140vh;
    }
}