.shares__dry {
    background-image: url('../../../images/dry.png');
    width: 560px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    grid-column: 2;
    align-self: baseline;
    display: flex;
    justify-self: center;
    border: 2px solid #F4C534;
}

@media screen and (max-width: 1278px) {
    .shares__dry {
        grid-column: 1/2;
        grid-row: 3/3;
    }
}

@media screen and (max-width: 650px) {
    .shares__dry {
        width: 360px;
    }
}

@media screen and (max-width: 380px) {
    .shares__dry {
        width: 250px;
    }
}

