.footer__content {
    width: 90%;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1/2;
    align-items: center;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .footer__content {
        display: grid;
    }
}

@media screen and (max-width: 480px) {
    .footer__content {
        display: grid;
        justify-content: center;
    }
}