.shares__content {
    display: grid;
    grid-column: 1;
    grid-row: 1/2;
    align-items: center;
    width: 90%;
    grid-template-columns: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1278px) {
    .shares__content {
        justify-content: center;
    }
}