.services__cards {
    grid-column: 2/2;
    display: flex;
    align-self: center;
    width: 100%;
    justify-self: center;
    justify-content: space-around;
}

.services__cards :last-child {
    margin: 0;
}

@media screen and (max-width: 1439px) {
    .services__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        width: fit-content;
    }
}

@media screen and (max-width: 710px) {
    .services__cards {
        grid-column: 1;
        grid-row: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: flex-start;
    }
}