.shares {
    background-image: url('../../images/social__background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: grid;
}