.services__card-description {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    text-transform: none;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-width: 930px) {
    .services__card-description {
        font-size: 17px;
    }
}