.header__nav-link {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 75px;
    text-transform: none;
    position: relative;
}

@media screen and (max-width: 500px) {
    .header__nav-link {
        font-size: 30px;
    }
}

.header__nav-link::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #F4C534;
    transition: 0.2s;
}

.header__nav-link:hover::before {
    width: 100%;
}
