.services__content {
    display: grid;
    grid-column: 1;
    grid-row: 1/2;
    align-items: center;
    width: 90%;
    grid-template-columns: 2fr;
    margin: 10px auto;
}

@media screen and (max-width: 710px) {
    .services__content {
        grid-template-columns: 1fr;
        grid-template-rows: 20%;
    }
}